@using Haondt.Web.UI.Services
@using Odyssey.Client.Authentication.Models
@using Odyssey.UI.Authentication.Models
@using Odyssey.UI.Authentication.Models.Authentication
@using Odyssey.UI.Core.Services
@inject NavigationManager Nav
@inject IValidationStateReader ValidationState
@code {
    public const string Id = "register-panel";
}

<Frame
    Id="@Id"
    Gap="FrameSpacing.Card"
    Flex="FrameDirection.Col"
    Align="FrameAlignment.Stretch"
    AddClasses='"content-container-s"'>
    <p class="title text-align-center">Register</p>
    <form hx-post>
        <Frame Flex="FrameDirection.Col" Align="FrameAlignment.Stretch" Template="FrameTemplate.Card">
            <Field Id='"invite-code"' Title='"Invite code"' Name="@nameof(RegisterModel.InviteCode)" HxPreserve="true" />
            <Field Id='"username"' Title='"Username"' Name="@nameof(RegisterModel.Username)" Autocomplete='FieldAutocomplete.Username' HxPreserve="true" />
            <Field Type="FieldType.Password" Title='"Password"' Name="@nameof(RegisterModel.Password)" Autocomplete='FieldAutocomplete.NewPassword' />
            <Field Type="FieldType.Password" Title='"Confirm password"' Name="@nameof(RegisterModel.ConfirmPassword)" Autocomplete='FieldAutocomplete.NewPassword' />
            @if(ValidationState.IsValidation && ValidationState.ValidationSummary.TryGetValue(out var formError))
            {
                <p class="validation-error">@formError</p>
            }
            <Frame Template="FrameTemplate.ButtonContainer">
                <Button
                    HxPushUrl='"true"'
                    HxGet="@Nav.ToAbsoluteUri(OdysseyRoutes.Auth.SignIn).ToString()"
                    Style="ButtonStyle.Ghost" Color="ButtonColor.Text">I already have an account</Button>
                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Continue</Button>
            </Frame>
        </Frame>
    </form>
</Frame>
