@using Haondt.Web.UI.Components.Containers
@using Haondt.Web.UI.Services
@using Odyssey.Client.Authentication.Models
@using Odyssey.Domain.Core.Services
@using Odyssey.UI.Authentication.Models
@using Odyssey.UI.Core.Services
@using Odyssey.Client.Authentication.Services
@implements IValidationSummaryComponent
@inject NavigationManager Nav
@inject IServerSettingsService ServerSettings
@code {
    [Parameter]
    public Optional<string> ValidationSummary { get; set; }

    [Parameter]
    public bool IsValidation { get; set; }

    public const string Id = "sign-in-panel";

    private bool _showRegister = false;


    protected override async Task OnInitializedAsync()
    {
        var serverSettings = await ServerSettings.GetServerSettingsAsync();
        _showRegister = serverSettings.Settings.OpenRegistration.Or(false);
    }

}


<ContentContainer Layout="ContentContainerLayout.Hero" Width="ContentContainerWidth.Small" Id="@Id">
    <Frame
        Gap="FrameSpacing.Card"
        Flex="FrameDirection.Col"
        Align="FrameAlignment.Stretch">
        <p class="title text-align-center">Sign in</p>
        <form hx-post>
            <Frame Flex="FrameDirection.Col" Align="FrameAlignment.Stretch" Template="FrameTemplate.Card">
                <Field Id='"username"' Title='"Username"' Name="@nameof(SignInModel.Username)" Autocomplete='"username"' HxPreserve="true" />
                <Field
                    Type="FieldType.Password"
                    Title='"Password"' Name="@nameof(SignInModel.Password)" Autocomplete='"current-password"' />
                @if(ValidationSummary.TryGetValue(out var formError))
                {
                    <p class="validation-error">@formError</p>
                }
                <Frame Template="FrameTemplate.ButtonContainer">
                    @if (_showRegister)
                    {
                        <Button
                            HxPushUrl='"true"'
                            HxGet="@Nav.ToAbsoluteUri(OdysseyRoutes.Auth.Register).ToString()"
                            Type='"button"' Style="ButtonStyle.Ghost" Color="ButtonColor.Text">Register</Button>
                    }
                    <Button Color="ButtonColor.Primary">Continue</Button>
                </Frame>
            </Frame>
        </form>
    </Frame>
</ContentContainer>
